
%table{style: "width:100%"}
  %tr
    %th
      %h3 Urgent Help requests
    %th
      %h3 Latest News
    %th
      %h3 Work orders status
  %tr
    %th
      - @help_requests.each do |help|
        .helpr
          %h3
            = help.title
          = help.message
          %span Urgent
    %th
      - @news.each do |news|
        .new
          %h3
            = news.title
          = news.description
    %th Pending

%h3 Hello! Welcome to Building blockz administration
= link_to 'Sign up', new_admin_registration_path
= link_to 'New Work order', new_workorder_path

