%h1 New booking
%br
Availible times
= params[:date]
- @facility.timeslots.order(:created_at).each do |timeslot|
  - @bookings.each do |booktime|
    - if booktime.start_time == "#{params[:date]} #{timeslot.start_time}"
      %h2 booktime
    -else
      = timeslot.start_time
      = timeslot.end_time
      %br

-#   = link_to "Time 09.00-12.00", "/facilities/#{params[:facility_id]}/bookings?" + {date: "#{params[:date]} 09:00:00"}.to_param, method: :post
-#   %br
-#   = link_to "Time 12.00-15.00", "/facilities/#{params[:facility_id]}/bookings?" + {date: "#{params[:date]} 12:00:00"}.to_param, method: :post
-#   %br
-#   = link_to "Time 15.00-18.00", "/facilities/#{params[:facility_id]}/bookings?" + {date: "#{params[:date]} 15:00:00"}.to_param, method: :post
-#   %br
-#   = link_to "Time 18.00-21.00", "/facilities/#{params[:facility_id]}/bookings?" + {date: "#{params[:date]} 18:00:00"}.to_param, method: :post
-# %br
-# = link_to 'Back', facility_bookings_path(@facility)
