= @workorder.title
= @workorder.message
= @workorder.location

= form_for @workorder do |f|
  = f.label :status
  = f.select(:status , ['Pending','Next week','In progress','Unable to complete','Done'])
  = f.submit "Update status"
