.base
  %h3 Work orders
  .row
    - @workorders.each do |work|
      .large-4.medium-4.columns
        .card
          .card-divider
            - if work.urgent == true
              .stat_urgent
            %h4
              = work.title
          .card-section
            %h5 Message
            = work.message
            %br
            %br
            %h5 Location
            = work.location
            %br
            %br
            = form_tag building_workorder_path(@building, work.id), {method: :patch} do
              = label_tag 'Set status'
              = select_tag :status, options_for_select(['In progress','Unable to complete','Done'], selected: work.status)
              = submit_tag "Update status", class: 'button inc'
